//
// Colours
//

// Background
$colour--bg : #f5f5f5;

// Text
$colour--text : #000;

$colour--white: white;

$colour--primary: #ffc107;

$colour--neutral--light: #f3f2f1;
$colour--neutral: #dadada;
$colour--neutral--passive: #aaa;
$colour--neutral--dark: #555555;
$colour--neutral--darkest: #333333;
